@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <a asp-area="" asp-controller="Weather" asp-action="Index">Weather in Trondheim</a>
</div>
