@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I want to wake up without feeling sick, but i cant because im a drug addicted alcoholic. -Nofx</p>
</div>
